.footerColor{
    background-color: $colorFooter;

    .listas{

        .logoRedes{ 
            @extend %estiloLogosfooter;
        }

        img{
            &:hover{
                transform: scale(1.2);
            }
        }

    }
  
    .copyColor{
        background-color: $colorCopy;
    }

}

