$colorNavbar: #adad85;
$colorLinks: #ffbb99;
$colorFooter:#adad85;
$colorBody: #c2c2a3;
$colorFormulario: #c3c388;
$colorDatosmapa: #000000;
$colorCopy: #00000033;
$colorTitulo: #0080ff;
$colorSecciones: #adad85;