.mainContacto{
    .tituloTexto{
        font-family: $tituloTextos;      
    }
    .colorFormulario{
        background-color: $colorFormulario;
    }

    .datos a{  
        text-decoration: none;
        .datosMapa{
            color: $colorDatosmapa;
        }
      }
}






