.mainNosotros{
    .tituloTexto{
            font-family: $tituloTextos;  
    }
    .imagenesNosotros{
        width: 400px;
        height: 350px;
        padding: 10px;
        border-radius: 10%;
    }
}